* {
    border-radius: 0px !important;
}

*.disabled:hover {
    cursor: auto;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background-color: #212529;
    color: #f8f9fa;
}

#app {
    min-height: 100vh;
}

.header {
    background-color: #343a40;
    font-size: 1.2rem;
}

.sub-header {
    background-color: #495057;
}

.tab {
    text-align: center;
    color: #adb5bd;
}

.tab:hover {
    cursor: pointer;
    color: #dee2e6 !important;
    border-bottom: solid 3px #1c7ed6 !important;
}

.tab.active {
    border-bottom: solid 3px #228be6;
    color: #f8f9fa;
    font-weight: 400;
}

.brand {
    text-transform: uppercase;
    font-weight: 500;
}

.menu-dropdown {
    color: #adb5bd;
}

.dropdown-menu {
    background-color: #868e96;
}

.modal-content {
    background-color: #495057;
}

.dropdown-toggle:hover {
    cursor: pointer;
}

.list-group-item {
    background-color: #343a40;
}

.form-control,
.form-control:active,
.form-control:focus,
.form-select,
.form-select:active,
.form-select:focus,
.btn,
.btn:active,
.btn:focus,
.multiselect__input,
.multiselect__tags,
.multiselect__single {
    background-color: #343a40 !important;
    color: #f8f9fa !important;
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
    font-weight: 300 !important;
}

.multiselect__input::placeholder,
.multiselect__tags::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #f8f9fa !important;
    opacity: 1;
    /* Firefox */
}

.multiselect__input:-ms-input-placeholder,
.multiselect__tags:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #f8f9fa !important;
}

.multiselect__input::-ms-input-placeholder,
.multiselect__tags::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #f8f9fa !important;
}

select {
    width: auto !important;
}

.btn-primary {
    background-color: #228be6 !important;
}

.btn-success {
    background-color: #40c057 !important;
}

.btn-warning {
    background-color: #fd7e14 !important;
}

.text-warning {
    color: #fd7e14 !important;
}

.btn-danger {
    background-color: #fa5252 !important;
}

.inLayout {
    background-size: 3vw 4vh;
    background-image: radial-gradient(circle, #868e96 1px, rgba(0, 0, 0, 0) 1px);
}

.fixtureItem,
.groupItem {
    height: 100%;
}

.fixtureItem {
    background-color: #fd7e14;
}

.fixtureItemHeader {
    background-color: #ffd8a8;
    color: #495057;
}

.groupItem {
    background-color: #1c7ed6;
}

.fixtureItem:hover,
.fixturePatchItem:hover,
.groupItem:hover {
    cursor: pointer;

}

.selected {
    box-shadow: 0px 0px 0px 2px #40c057 !important;
    box-sizing: border-box;
}

tr.selected {
    border: solid 2px #40c057 !important;
}

.fa-stack.small {
    font-size: 0.65em;
}

i {
    vertical-align: middle;
}

.profilesList {
    max-height: 25rem;
    overflow-y: auto;
}

.fixtureProfileText {
    background-color: #40c057;
    font-size: 0.9rem;
}

.fixtureProfileText:hover {
    cursor: pointer;
    background-color: #37b24d;
}

.fixtureProfileItem:hover {
    cursor: pointer;
    background-color: #212529;
}

th,
b {
    font-weight: 500 !important;
}

.card {
    background-color: #495057;
}

.btn-outline-danger {
    box-shadow: 0px 0px 0px 2px #fa5252 !important;
}

.progress-bar {
    /*transition: none !important;*/
    transition-duration: 0.1s !important;
}