<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">
    <link href="static/css/vue-color-picker.min.css" rel="stylesheet">
    <script defer src="static/js/all.min.js"></script>
    <link rel="stylesheet" href="static/css/style.css">

    <title>Tonalite UI</title>
</head>

<body>
    <div id="app">
        <div class="sticky-top">
            <nav class="navbar navbar-expand mainNav">
                <span class="navbar-brand">TONALITE</span>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse d-flex" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                File
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <div class="dropdown-item">Open Show</div>
                                <div class="dropdown-item">Save Show</div>
                                <div class="dropdown-item" href="#">Save Show As</div>
                                <div class="dropdown-divider"></div>
                                <div class="dropdown-item">Console Settings</div>
                                <div class="dropdown-item">Update Console Firmware</div>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                View
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <div class="dropdown-item" @click="launchFullScreen()">Full Screen</div>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/docs">Documentation</a>
                                <a class="dropdown-item" href="/presets">Presets View</a>
                            </div>
                        </li>
                    </ul>
                    <div class="ml-auto" v-if="currentTab == 'fixtures' && fixturesDisplay == 'fixtures'">
                        <div class="btn-group">
                            <div class="switch">
                                <div class="label">
                                    Layout View:
                                </div>
                                <div class="btn left"
                                    v-bind:class="{ on : layoutMode == true, off : layoutMode == false}"
                                    @click="setLayoutMode(true)">On</div>
                                <div class="btn right"
                                    v-bind:class="{ on : layoutMode == false, off : layoutMode == true}"
                                    @click="setLayoutMode(false)">Off</div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            <div class="subHeader d-flex" v-if="currentTab == 'patch'">
                <div class="btn btn-success mr-1" data-toggle="modal" data-target="#addFixtureModal"
                    @click="getFixtureProfileManufacturers">Add Fixture</div>
                <div>
                    <button class="btn btn-primary ml-1" @click="selectAllPatchedFixtures()">
                        <i class="fas fa-hand-pointer"></i>
                        <span class="d-none d-lg-inline-block">Select All</span></button>
                    <button class="btn btn-primary" @click="deselectAllPatchedFixtures()"
                        v-bind:class="{ disabled: selectedPatchedFixtures.length == 0 }"><span class="fa-stack"
                            style="vertical-align: middle;font-size: 55%;">
                            <i class="fas fa-hand-pointer fa-stack-1x"></i>
                            <i class="far fa-ban fa-stack-2x"></i>
                        </span> <span class="d-none d-lg-inline-block">Deselect All</span></button>
                </div>
                <div class="ml-auto">
                    <div class="btn btn-primary" data-toggle="modal" data-target="#editFixtureModal"
                        v-bind:class="{ disabled: selectedPatchedFixtures.length == 0 }">
                        <i class="fas fa-edit"></i> <span class="d-none d-lg-inline-block">Edit</span></div>
                    <div class="btn btn-danger" v-bind:class="{ disabled: selectedPatchedFixtures.length == 0 }"><i
                            class="fas fa-trash"></i> <span class="d-none d-lg-inline-block" data-toggle="modal"
                            data-target="#deleteFixturesModal">Delete</span></div>
                    <div class="btn btn-success" v-bind:class="{ disabled: selectedPatchedFixtures.length == 0 }"
                        @click="duplicateSelectedPatchedFixtures()">
                        <i class="fas fa-copy"></i> <span class="d-none d-lg-inline-block">Duplicate</span></div>
                </div>
            </div>
            <div class="subHeader d-flex"
                v-if="currentTab == 'fixtures' && (fixturesDisplay == 'fixtures' || fixturesDisplay == 'groups')">
                <select v-model="fixturesDisplay" class="form-control">
                    <option value="fixtures">Fixtures</option>
                    <option value="groups">Groups</option>
                </select>
                <div v-if="fixturesDisplay == 'fixtures'">
                    <button class="btn btn-primary ml-1" @click="selectAllFixtures()">
                        <i class="fas fa-hand-pointer"></i>
                        <span class="d-none d-lg-inline-block">Select All</span></button>
                    <button class="btn btn-primary" @click="deselectAllFixtures()"
                        v-bind:class="{ disabled: selectedFixtures.length == 0 }"><span class="fa-stack"
                            style="vertical-align: middle;font-size: 55%;">
                            <i class="fas fa-hand-pointer fa-stack-1x"></i>
                            <i class="far fa-ban fa-stack-2x"></i>
                        </span> <span class="d-none d-lg-inline-block">Deselect All</span></button>
                </div>
                <div v-if="fixturesDisplay == 'groups'">
                    <button class="btn btn-primary ml-1" @click="selectAllGroups()">
                        <i class="fas fa-hand-pointer"></i>
                        <span class="d-none d-lg-inline-block">Select All</span></button>
                    <button class="btn btn-primary" @click="deselectAllGroups()"
                        v-bind:class="{ disabled: selectedGroups.length == 0 }"><span class="fa-stack"
                            style="vertical-align: middle;font-size: 55%;">
                            <i class="fas fa-hand-pointer fa-stack-1x"></i>
                            <i class="far fa-ban fa-stack-2x"></i>
                        </span> <span class="d-none d-lg-inline-block">Deselect All</span></button>
                </div>
                <div class="ml-auto" v-if="fixturesDisplay == 'fixtures'">
                    <div class="btn btn-primary" v-bind:class="{ disabled: selectedFixtures.length == 0 }"
                        @click="openFixtureParameters()">
                        Open Parameters</div>
                    <div class="btn btn-success" @click="groupSelectedFixtures()"
                        v-bind:class="{ disabled: selectedFixtures.length == 0 }">Group
                        Selected</div>
                    <div class="btn btn-primary" data-toggle="modal" data-target="#resetFixturesModal"
                        v-bind:class="{ disabled: fixtures.length == 0 }">Reset All</div>
                </div>
                <div class="ml-auto" v-if="fixturesDisplay == 'groups'">
                    <div class="btn btn-primary" @click="openGroupParameters"
                        v-bind:class="{ disabled: selectedGroups.length == 0 }">
                        Open Parameters</div>
                    <div class="btn btn-success" @click="groupSelectedGroups()"
                        v-bind:class="{ disabled: selectedGroups.length == 0 }">Group
                        Selected</div>
                    <div class="btn btn-danger" v-bind:class="{ disabled: selectedGroups.length == 0 }"
                        data-toggle="modal" data-target="#deleteGroupsModal">Delete Selected</div>
                </div>
            </div>
            <div class="subHeader d-flex" v-if="currentTab == 'fixtures' && fixturesDisplay == 'parameters'">
                <button class="btn btn-primary" @click="fixturesDisplay='fixtures'">Back</button>
                <div class="ml-auto">
                    <div class="btn btn-primary" data-toggle="modal" data-target="#resetSelectedFixturesModal">Reset All
                    </div>
                </div>
            </div>
            <div class="subHeader d-flex" v-if="currentTab == 'cues'">

            </div>
            <div class="subHeader d-flex" v-if="currentTab == 'presets'">

            </div>
        </div>
        <div class="fixed-bottom">
            <div class="tabHeader noselect">
                <div class="row">
                    <div class="col-3 tab" @click="openTab('patch')" v-bind:class="{ active: currentTab == 'patch' }">
                        Patch
                    </div>
                    <div class="col-3 tab" @click="openTab('fixtures')"
                        v-bind:class="{ active: currentTab == 'fixtures' }">
                        Fixtures
                    </div>
                    <div class="col-3 tab" @click="openTab('cues')" v-bind:class="{ active: currentTab == 'cues' }">
                        Cues
                    </div>
                    <div class="col-3 tab" @click="openTab('presets')"
                        v-bind:class="{ active: currentTab == 'presets' }">
                        Presets
                    </div>
                </div>
            </div>
        </div>
        <div id="patchTab" v-if="currentTab == 'patch'">
            <div class="container mb-5">
                <div class="row mt-3">
                    <div class="col-12 patchFixture noselect"
                        v-bind:class="{ selected: selectedPatchedFixtures.indexOf(fixture.i) >= 0 }"
                        v-for="(fixture, index) in fixtures" @click="selectPatchedFixture(fixture.i)" :key="fixture.i">
                        Number: <span class="light">{{index+1}}</span>
                        Name: <span class="light">{{fixture.name}}</span>
                        Mode: <span class="light">{{fixture.modeName}}</span>
                        Universe: <span class="light">{{fixture.universe}}</span>
                        <div class="d-inline" v-if="fixture.maxOffset == 0">Address: <span
                                class="light">{{fixture.address}}</span></div>
                        <div class="d-inline" v-if="fixture.maxOffset > 0">Addresses: <span
                                class="light">{{fixture.address}} - {{fixture.address+fixture.maxOffset}}</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="fixturesTab" v-if="currentTab == 'fixtures'">
            <div class="container-fluid mt-2">
                <div id="fixturesDisplay" v-if="fixturesDisplay == 'fixtures'">
                    <grid-layout :layout.sync="fixtures" :col-num="14" :row-height="60" v-bind:is-draggable="layoutMode"
                        :is-resizable="false" :vertical-compact="false" :margin="[10, 10]" :use-css-transforms="true"
                        v-bind:class="{inLayout: layoutMode}">
                        <grid-item @move="fixtureItemMoved(fixture)" @moved="fixtureItemMoved(fixture)"
                            v-bind:class="{ selected: selectedFixtures.indexOf(fixture.i) >= 0 }"
                            class="grid-item fixture-item" v-for="(fixture, index) in fixtures" :x="fixture.x"
                            :y="fixture.y" :w="fixture.w" :h="fixture.h" :i="fixture.i" :key="fixture.i">
                            <div class="grid-item-content noselect" @click="selectFixture(fixture.i)">
                                <div class="text d-none d-md-block">{{fixture.name}}</div>
                                <div class="text numberText d-block d-md-none">{{index+1}}</div>
                            </div>
                        </grid-item>
                    </grid-layout>
                </div>
                <div id="groupsDisplay" v-if="fixturesDisplay == 'groups'">
                    <div class="container-fluid mb-5">
                        <div class="row">
                            <div class="col-4 col-lg-1 col-md-2 noselect" @click="selectGroup(group.i)"
                                v-for="group in groups" :key="group.i">
                                <div class="group-item"
                                    v-bind:class="{ selected: selectedGroups.indexOf(group.i) >= 0 }">{{group.name}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="fixturesParametersDisplay" v-if="fixturesDisplay == 'parameters'">
                    <div class="row">
                        <div class="col-12 col-sm-6" v-for="param in selectedFixturesParameters">
                            <div class="card mb-3">
                                <div class="card-body">
                                    <div class="form-group">
                                        <label>{{param.name}}:</label>
                                        <input class="form-control-range" type="range" min="0" max="65535"
                                            v-model="param.displayValue"
                                            @input="updateFixtureParameterValue(param)"></input>
                                        <div class="parameterRanges row flex-nowrap mt-3"
                                            v-if="'ranges' in param && param.ranges.length > 0">
                                            <div class="parameterRange col-2 col-lg-1 mr-1 noselect"
                                                v-bind:class="{active: param.displayValue >= mapRange(range.begin, 0, 255, 0, 65535) && param.displayValue <= mapRange(range.end, 0, 255, 0, 65535)}"
                                                v-for="range in param.ranges" :key="range.begin"
                                                @click="useParameterRange(param, range)">{{range.label}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div id="cuesTab" v-if="currentTab == 'cues'">
            <div class="container-fluid mb-5 mt-3">
                <div class="row">
                    <div class="col-4 col-lg-1 col-md-2 noselect" @click="selectCue(cue.i)" v-for="cue in cues"
                        :key="cue.i">
                        <div class="cue-item" v-bind:class="{ selected: selectedCues.indexOf(cue.i) >= 0 }">
                            {{cue.name}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="presetsTab" v-if="currentTab == 'presets'">
            <div class="container-fluid mb-5 mt-3">
                <div class="row">
                    <div class="col-4 col-lg-1 col-md-2 noselect" @click="selectPreset(preset.i)"
                        v-for="preset in presets" :key="preset.i">
                        <div class="preset-item"
                            v-bind:class="{ selected: selectedPresets.indexOf(preset.i) >= 0, presetActive: preset.active == true }">
                            {{preset.name}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" tabindex="-1" role="dialog" id="addFixtureModal">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">
                            Add Fixture(s)
                        </h5>
                        <button type="button" class="close" aria-label="Close" @click="closeAddFixtureModal()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-3">
                                <div class="form-group">
                                    <label for="fixtureProfileAddress">DMX Address:</label>
                                    <input type="number" class="form-control" id="fixtureProfileAddress"
                                        v-model="fixtureProfileCreationAddress" min="1" max="512">
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <label for="fixtureProfileUniverse">DMX Universe:</label>
                                    <input type="number" class="form-control" id="fixtureProfileUniverse"
                                        v-model="fixtureProfileCreationUniverse" min="1" max="30000">
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <label for="fixtureProfileAddressOffset">Address Offset:</label>
                                    <input type="number" class="form-control" id="fixtureProfileAddressOffset"
                                        v-model="fixtureProfileCreationAddressOffset" min="0">
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <label for="fixtureProfileCount">Creation Count:</label>
                                    <input type="number" class="form-control" id="fixtureProfileCount"
                                        v-model="fixtureProfileCreationCount" min="1">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                Manufacturer:
                                <ul class="list-group list-group-scroll">
                                    <li class="list-group-item" v-for="manufacturer in fixtureProfileManufacturers"
                                        :key="manufacturer" @click="selectFixtureProfileManufacturer(manufacturer)"
                                        v-bind:class="{ textselected: selectedProfileManufacturer == manufacturer }">
                                        {{manufacturer}}</li>
                                </ul>
                            </div>
                            <div class="col-4">
                                Fixture:
                                <ul class="list-group list-group-scroll">
                                    <li class="list-group-item" v-for="profile in fixtureProfiles" :key="profile"
                                        @click="selectFixtureProfile(profile)"
                                        v-bind:class="{textselected: selectedProfile == profile}">{{profile}}
                                    </li>
                                </ul>
                            </div>
                            <div class="col-4">
                                Mode:
                                <ul class="list-group list-group-scroll">
                                    <li class="list-group-item" v-for="mode in fixtureProfileModes" :key="mode.mode"
                                        @click="selectFixtureProfileMode(mode)"
                                        v-bind:class="{textselected: selectedProfileMode == mode.mode}">
                                        {{mode.mode}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" @click="closeAddFixtureModal()">Cancel</button>
                        <button type="button" class="btn btn-success" v-if="selectedProfileMode != ''"
                            @click="addFixture">Create</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" tabindex="-1" role="dialog" id="editFixtureModal">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">
                            Edit Fixture(s)
                        </h5>
                        <button type="button" class="close" aria-label="Close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row" v-if="selectedPatchedFixtures.length == 1">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="fixtureAddress">DMX Address:</label>
                                    <input type="number" class="form-control" id="fixtureAddress"
                                        v-model="getEditFixtureAddress()"
                                        @input="editFixtureAddress($event.target.value)" min="1" max="512">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="fixtureUniverse">DMX Universe:</label>
                                    <input type="number" class="form-control" id="fixtureUniverse"
                                        v-model="getEditFixtureUniverse()"
                                        @input="editFixtureUniverse($event.target.value)" min="1" max="30000">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="fixtureName">Name:</label>
                                    <input type="text" class="form-control" id="fixtureName"
                                        v-model="getEditFixtureName()" @input="editFixtureName($event.target.value)">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" tabindex="-1" role="dialog" id="deleteFixturesModal">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">
                            Delete Fixture(s)
                        </h5>
                        <button type="button" class="close" aria-label="Close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to do this? If you have not saved your show file recently, you will not be
                        able to get the fixture(s)'s data back.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal"
                            @click="deleteSelectedPatchedFixtures()">Delete</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" tabindex="-1" role="dialog" id="deleteGroupsModal">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">
                            Delete Group(s)
                        </h5>
                        <button type="button" class="close" aria-label="Close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to do this? If you have not saved your show file recently, you will not be
                        able to get the group(s)'s data back.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal"
                            @click="deleteSelectedGroups()">Delete</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" tabindex="-1" role="dialog" id="resetFixturesModal">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">
                            Reset Fixture Values
                        </h5>
                        <button type="button" class="close" aria-label="Close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to do this? If you do, it may very well result in a blackout.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-success" data-dismiss="modal"
                            @click="resetFixtures()">Reset</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" tabindex="-1" role="dialog" id="resetSelectedFixturesModal">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">
                            Reset Fixture Values
                        </h5>
                        <button type="button" class="close" aria-label="Close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to do this? If you do, it may very well result in a blackout.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-success" data-dismiss="modal"
                            @click="resetSelectedFixtures()">Reset</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="static/js/jquery-3.3.1.slim.min.js"></script>
    <script src="static/js/popper.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/vue.js"></script>
    <script src="static/js/vue-grid-layout.umd.min.js"></script>
    <script src="static/js/vue-color-picker.umd.min.js"></script>
    <script src="static/js/socket.io.js"></script>
    <script src="static/js/script.js"></script>
</body>

</html>