<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="style.css">
    <script defer src="all.min.js"></script>

    <title>Tonalite UI</title>
</head>

<body>
    <div id="app">
        <div class="sticky-top">
            <nav class="navbar navbar-expand mainNav">
                <span class="navbar-brand">TONALITE</span>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse d-flex" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                File
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <div class="dropdown-item">Open Show</div>
                                <div class="dropdown-item">Save Show</div>
                                <div class="dropdown-item" href="#">Save Show As</div>
                                <div class="dropdown-divider"></div>
                                <div class="dropdown-item">Console Settings</div>
                                <div class="dropdown-item">Update Console Firmware</div>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                View
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <div class="dropdown-item" @click="launchFullScreen()">Full Screen</div>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/docs">Documentation</a>
                                <a class="dropdown-item" href="/presets">Presets View</a>
                            </div>
                        </li>
                    </ul>
                    <div class="ml-auto" v-if="currentTab == 'fixtures' && fixturesDisplay == 'fixtures'">
                        <div class="btn-group">
                            <div class="switch">
                                <div class="label">
                                    Layout View:
                                </div>
                                <div class="btn left"
                                    v-bind:class="{ on : layoutMode == true, off : layoutMode == false}"
                                    @click="setLayoutMode(true)">On</div>
                                <div class="btn right"
                                    v-bind:class="{ on : layoutMode == false, off : layoutMode == true}"
                                    @click="setLayoutMode(false)">Off</div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            <div class="subHeader d-flex" v-if="currentTab =='patch'">
                <div class="btn btn-success mr-1">Add Dimmer</div>
                <div class="btn btn-success mr-1">Add Device</div>
                <div class="ml-auto">
                    <div class="btn btn-primary" v-bind:class="{ disabled: selectedPatchedFixtures.length == 0 }">
                        <i class="fas fa-search"></i> <span class="d-none d-lg-inline-block">Identify</span></div>
                    <div class="btn btn-danger" v-bind:class="{ disabled: selectedPatchedFixtures.length == 0 }"><i
                            class="fas fa-trash"></i> <span class="d-none d-lg-inline-block">Delete</span></div>
                    <div class="btn btn-success" v-bind:class="{ disabled: selectedPatchedFixtures.length == 0 }">
                        <i class="fas fa-copy"></i> <span class="d-none d-lg-inline-block">Copy</span></div>
                    <div class="btn btn-primary" @click="deselectAllPatchedFixtures()"
                        v-bind:class="{ disabled: selectedPatchedFixtures.length == 0 }"><span class="fa-stack"
                            style="vertical-align: middle;font-size: 55%;">
                            <i class="fas fa-hand-pointer fa-stack-1x"></i>
                            <i class="far fa-ban fa-stack-2x"></i>
                        </span> <span class="d-none d-lg-inline-block">Deselect All</span></div>
                </div>
            </div>
            <div class="subHeader d-flex" v-if="currentTab =='fixtures'">
                <select v-model="fixturesDisplay" class="form-control">
                    <option value="fixtures">Fixtures</option>
                    <option value="groups">Groups</option>
                </select>
                <div class="ml-auto" v-if="fixturesDisplay == 'fixtures'">
                    <div class="btn btn-primary" v-bind:class="{ disabled: selectedFixtures.length == 0 }">
                        Open Parameters</div>
                    <div class="btn btn-success" v-bind:class="{ disabled: selectedFixtures.length == 0 }">Group
                        Selected</div>
                    <div class="btn btn-primary" @click="deselectAllFixtures()"
                        v-bind:class="{ disabled: selectedFixtures.length == 0 }"><span class="fa-stack"
                            style="vertical-align: middle;font-size: 55%;">
                            <i class="fas fa-hand-pointer fa-stack-1x"></i>
                            <i class="far fa-ban fa-stack-2x"></i>
                        </span> <span class="d-none d-lg-inline-block">Deselect All</span></div>
                </div>
                <div class="ml-auto" v-if="fixturesDisplay == 'groups'">
                    <div class="btn btn-primary" v-bind:class="{ disabled: selectedGroups.length == 0 }">
                        Open Parameters</div>
                    <div class="btn btn-success" v-bind:class="{ disabled: selectedGroups.length == 0 }">Group
                        Selected</div>
                    <div class="btn btn-primary" @click="deselectAllGroups()"
                        v-bind:class="{ disabled: selectedGroups.length == 0 }"><span class="fa-stack"
                            style="vertical-align: middle;font-size: 55%;">
                            <i class="fas fa-hand-pointer fa-stack-1x"></i>
                            <i class="far fa-ban fa-stack-2x"></i>
                        </span> <span class="d-none d-lg-inline-block">Deselect All</span></div>
                </div>
            </div>
            <div class="subHeader d-flex" v-if="currentTab =='cues'">
                <div class="btn btn-primary mr-1"><i class="fas fa-angle-left"></i> Last</div>
                <div class="btn btn-success mr-1"><i class="fas fa-camera-alt"></i> Record Cue</div>
                <div class="btn btn-primary mr-1">Next <i class="fas fa-angle-right"></i> </div>
                <div class="ml-auto">
                    <div class="btn btn-primary" v-bind:class="{ disabled: selectedCues.length == 0 }">
                        Open Settings</div>
                    <div class="btn btn-danger"><i class="fas fa-trash"></i> <span
                            class="d-none d-lg-inline-block">Delete</span></div>
                    <div class="btn btn-success">
                        <i class="fas fa-copy"></i> <span class="d-none d-lg-inline-block">Copy</span></div>
                    <div class="btn btn-primary" @click="deselectAllCues()"
                        v-bind:class="{ disabled: selectedCues.length == 0 }"><span class="fa-stack"
                            style="vertical-align: middle;font-size: 55%;">
                            <i class="fas fa-hand-pointer fa-stack-1x"></i>
                            <i class="far fa-ban fa-stack-2x"></i>
                        </span> <span class="d-none d-lg-inline-block">Deselect All</span></div>
                </div>
            </div>
            <div class="subHeader d-flex" v-if="currentTab =='presets'">
                <div class="btn btn-success">Record Preset</div>
                <div class="ml-auto">
                    <div class="btn btn-primary" v-bind:class="{ disabled: selectedPresets.length == 0 }">
                        Open Settings</div>
                    <div class="btn btn-danger" v-bind:class="{ disabled: selectedPresets.length == 0 }"><i
                            class="fas fa-trash"></i> <span class="d-none d-lg-inline-block">Delete</span></div>
                    <div class="btn btn-success" v-bind:class="{ disabled: selectedPresets.length == 0 }">
                        <i class="fas fa-copy"></i> <span class="d-none d-lg-inline-block">Copy</span></div>
                    <div class="btn btn-primary" @click="deselectAllPresets()"
                        v-bind:class="{ disabled: selectedPresets.length == 0 }"><span class="fa-stack"
                            style="vertical-align: middle;font-size: 55%;">
                            <i class="fas fa-hand-pointer fa-stack-1x"></i>
                            <i class="far fa-ban fa-stack-2x"></i>
                        </span> <span class="d-none d-lg-inline-block">Deselect All</span></div>
                </div>
            </div>
        </div>
        <div class="fixed-bottom">
            <!--
                <div class="subHeader row" v-if="currentTab =='fixtures'">
                    <div class="col-md-7 col-lg-4 col-12">
                        <div class="btn btn-danger" v-bind:class="{ disabled: fixtures.length == 0 }">Record Cue</div>
                        <div class="progress" style="display: inline-block; width: 35%;">
                            <div class="progress-bar" role="progressbar" style="width: 20%; height: 100%;"
                                aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Cue 1</div>
                        </div>
                        <div class="progress" style="display: inline-block; width: 35%;">
                            <div class="progress-bar" role="progressbar" style="width: 20%; height: 100%;"
                                aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Cue 2</div>
                        </div>
                    </div>
    
                    <div class="col-md-5 col-lg-2 offset-lg-6 col-12 mt-2 mt-md-0">
                        <div class="btn btn-success" v-bind:class="{ disabled: cues.length == 0 }">Next Cue</div>
                        <div class="btn btn-warning" v-bind:class="{ disabled: cues.length == 0 }">Pause</div>
                        <div class="btn btn-success" v-bind:class="{ disabled: cues.length == 0 }">Last Cue</div>
                    </div>
                </div>
            -->
            <div class="tabHeader noselect">
                <div class="row">
                    <div class="col-3 tab" @click="currentTab = 'patch'"
                        v-bind:class="{ active: currentTab == 'patch' }">
                        Patch
                    </div>
                    <div class="col-3 tab" @click="currentTab = 'fixtures'"
                        v-bind:class="{ active: currentTab == 'fixtures' }">
                        Fixtures
                    </div>
                    <div class="col-3 tab" @click="currentTab = 'cues'" v-bind:class="{ active: currentTab == 'cues' }">
                        Cues
                    </div>
                    <div class="col-3 tab" @click="currentTab = 'presets'"
                        v-bind:class="{ active: currentTab == 'presets' }">
                        Presets
                    </div>
                </div>
            </div>
        </div>
        <div id="patchTab" v-if="currentTab =='patch'">
            <div class="container mb-5">
                <div class="row mt-3">
                    <div class="col-12 patchFixture noselect"
                        v-bind:class="{ selected: selectedPatchedFixtures.indexOf(fixture.i) >= 0 }"
                        v-for="fixture in fixtures" @click="selectPatchedFixture(fixture.i)" :key="fixture.i">
                        Name: <span class="light">{{fixture.name}}</span>
                        Mode: <span class="light">{{fixture.mode}}</span>
                        DMX Universe: <span class="light">{{fixture.universe}}</span>
                        DMX Address: <span class="light">{{fixture.coarse}}</span>
                        Channels: <span class="light">{{fixture.channels.length}}</span>
                        <div class="btn btn-primary float-right">
                            <i class="fas fa-edit"></i> <span class="d-none d-lg-inline-block">Edit</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="fixturesTab" v-if="currentTab =='fixtures'">
            <div class="container-fluid mt-2">
                <div id="fixturesDisplay" v-if="fixturesDisplay == 'fixtures'">
                    <grid-layout :layout.sync="fixtures" :col-num="14" :row-height="60" v-bind:is-draggable="layoutMode"
                        :is-resizable="false" :vertical-compact="false" :margin="[10, 10]" :use-css-transforms="true"
                        v-bind:class="{inLayout: layoutMode}">
                        <grid-item v-bind:class="{ selected: selectedFixtures.indexOf(fixture.i) >= 0 }"
                            class="grid-item fixture-item" v-for="fixture in fixtures" :x="fixture.x" :y="fixture.y"
                            :w="fixture.w" :h="fixture.h" :i="fixture.i" :key="fixture.i">
                            <div class="grid-item-content noselect" @click="selectFixture(fixture.i)">
                                <div class="text">{{fixture.name}}</div>
                            </div>
                        </grid-item>
                    </grid-layout>
                </div>
                <div id="groupsDisplay" v-if="fixturesDisplay == 'groups'">
                    <div class="container-fluid mb-5">
                        <div class="row">
                            <div class="col-4 col-lg-1 col-md-2 noselect" @click="selectGroup(group.i)"
                                v-for="group in groups" :key="group.i">
                                <div class="group-item"
                                    v-bind:class="{ selected: selectedGroups.indexOf(group.i) >= 0 }">{{group.name}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="cuesTab" v-if="currentTab =='cues'">
            <div class="container-fluid mb-5 mt-3">
                <div class="row">
                    <div class="col-4 col-lg-1 col-md-2 noselect" @click="selectCue(cue.i)" v-for="cue in cues"
                        :key="cue.i">
                        <div class="cue-item" v-bind:class="{ selected: selectedCues.indexOf(cue.i) >= 0 }">
                            {{cue.name}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="presetsTab" v-if="currentTab =='presets'">
            <div class="container-fluid mb-5 mt-3">
                <div class="row">
                    <div class="col-4 col-lg-1 col-md-2 noselect" @click="selectPreset(preset.i)"
                        v-for="preset in presets" :key="preset.i">
                        <div class="preset-item"
                            v-bind:class="{ selected: selectedPresets.indexOf(preset.i) >= 0, presetActive: preset.active == true }">
                            {{preset.name}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="vue-grid-layout.umd.min.js"></script>
    <script src="index.js"></script>
</body>

</html>